<div class="am-content">
        <div class="main-content">
          <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->        
              <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="title">Notifications</div>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-fw-widget table-hover">
                    <thead>
                      <tr>
                        <th width="10%">Date</th>
                        <th width="20%">Driver</th>
                        <th width="25%">Job</th>
                        <th width="20%">Notification</th>
                      </tr>
                    </thead>
                    <tbody class="no-border-x">
                      <tr>
                        <td>30/11/16</td>
                        <td class="user-avatar"> <img src="assets/img/avatar4.jpg">Claire Sassu</td>
                        <td>Piping project</td>
                        <td><span class="badge badge-primary">1</span> this job has now been allocated</td>
                      </tr>
                      <tr>
                        <td>30/11/16</td>
                        <td class="user-avatar"> <img src="assets/img/avatar3.jpg">Joel King</td>
                        <td>Chocolate package</td>
                        <td><span class="badge badge-primary">1</span> Joel has arrived</td>
                      </tr>
                      <tr>
                        <td>30/11/16</td>
                        <td class="user-avatar"> <img src="assets/img/avatar7.jpg">Maggie Jackson</td>
                        <td>Stock Order</td>
                        <td><span class="badge badge-primary">1</span>This job has been completed</td>
                      </tr>
                      <tr>
                        <td>30/11/16</td>
                        <td class="user-avatar"> <img src="assets/img/avatar6.jpg">Mike Bolthort</td>
                        <td>Stock order 2</td>
                        <td>This job has been completed</td>
                      </tr>
                        <tr>
                            <td>30/11/16</td>
                            <td class="user-avatar"> <img src="assets/img/avatar6.jpg">Mike Bolthort</td>
                            <td>ID:5387</td>
                            <td>Mike has arrived</td>
                          </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Upcoming Bookings End Here-->

</div>
      </div>

