 <div class="am-content">
        <aside class="page-aside">
          <div class="am-scroller nano">
            <div class="nano-content">
              <div class="content">
                <h2 class="text-center">Wednesday 20/01/2016</h2>
                <div class="col-md-12 text-center">
                <div class="btn-group btn-space">
                      <button type="button" data-toggle="dropdown" class="btn btn-warning">Todays Live Jobs <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Stevens Job</a></li>
                        <li><a href="#">Potatoe Shipment</a></li>
                        <li><a href="#">Tuesday Toy Shipment</a></li>
                      </ul>
                    </div>
                    </div>
                  
                <div class="user-profile col-md-12 col-sm-12">
                <div class=" info-block panel panel-default">
                  <div class="panel-heading">
                    <h4>Piping Project</h4>
                  </div>
                    <table class="no-border no-strip skills">
                      <tbody class="no-border-x no-border-y">
                        <tr>
                          <td class="item">Data & time:<span class="icon s7-date"></span></td>
                          <td>18/06/2016 - 09:30</td>
                        </tr>
                        <tr>
                          <td class="item">ETA:<span class="icon s7-wristwatch"></span></td>
                          <td>09:32</td>
                        </tr>
                        <tr>
                          <td class="item">Route:<span class="icon s7-map-marker"></span></td>
                          <td>8 lombard road to 2 dairy farm place</td>
                        </tr>
                        <tr>
                          <td class="item">Staff:<span class="icon s7-users"></span></td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <td class="item">PPH:<span class="icon s7-credit"></span></td>
                          <td>£25ph + fuel charge</td>
                        </tr>
                        <tr>
                          <td class="item">Cuft<span class="icon s7-box2"></span></td>
                          <td>up to 700Cuft</td>
                        </tr>
                        <tr>
                          <td class="item">Driver:<span class="icon s7-id"></span></td>
                          <td> Danny Gregory</td>
                        </tr>
                        <tr>
                          <td class="item">Driver Mobile:<span class="icon s7-phone"></span></td>
                          <td>(999) 999-9999</td>
                        </tr>
                        <tr>
                          <td class="item">Driver email:<span class="icon s7-mail"></span></td>
                          <td>eanny@gmail.com</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <div class="main-content">
          <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->
      
        </div>
      </div>